{% extends "base.html" %}

{% block title %}{{ client.client_name }} - Application Details{% endblock %}

{% block content %}
    <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">{{ client.client_name }}</h2>
        <span class="text-muted">Regular Web Applications</span>
    </div>
    <p>Client ID: <span class="badge bg-light text-dark">{{ client.client_id }}</span></p>

    <div class="container mt-4">
        <ul class="nav nav-underline" id="settingsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab" aria-controls="settings-tab-pane" aria-selected="true">Settings</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="credentials-tab" data-bs-toggle="tab" data-bs-target="#credentials-tab-pane" type="button" role="tab" aria-controls="credentials-tab-pane" aria-selected="false">Credentials</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="apis-tab" data-bs-toggle="tab" data-bs-target="#apis-tab-pane" type="button" role="tab" aria-controls="apis-tab-pane" aria-selected="false">APIs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="connections-tab" data-bs-toggle="tab" data-bs-target="#connections-tab-pane" type="button" role="tab" aria-controls="connections-tab-pane" aria-selected="false">Connections</button>
            </li>
        </ul>

        <div class="tab-content mt-3" id="settingsTabContent">
            <div class="tab-pane fade show active" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
                <div class="card p-4 mt-4">
                    <h5>Basic Information</h5>
                    <div class="mb-3">
                        <label for="app_name" class="form-label">Name</label>
                        <input type="text" id="app_name" class="form-control" value="{{ client.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="domain" class="form-label">Domain</label>
                        <input type="text" id="domain" class="form-control" value="{{ client.domain }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="client_id" class="form-label">Client ID</label>
                        <input type="text" id="client_id" class="form-control" value="{{ client.client_id }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="client_secret" class="form-label">Client Secret</label>
                        <input type="password" id="client_secret" class="form-control" value="••••••••••••" readonly>
                        <div id="client_secret_help" class="form-text">The Client Secret is not base64 encoded.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" rows="3" placeholder="Add a description in less than 140 characters."></textarea>
                        <div id="description_help" class="form-text">A free text description of the application. Max character count is 140.</div>
                    </div>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Application Properties</h5>

                    <div class="mb-3">
                        <label for="app_logo" class="form-label">Application Logo</label>
                        <input type="file" class="form-control" id="app_logo">
                        <div id="app_logo_help" class="form-text">
                            The URL of the logo to display for the application. If none is set, the default badge for this type of application will be shown.
                            Recommended size: <strong>150x150 pixels</strong>.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="app_type" class="form-label">Application Type</label>
                        <select class="form-select" id="app_type" aria-describedby="app_type_help">
                            <option value="m2m">Machine to Machine</option>
                            <option value="web" selected>Regular Web Application</option>
                            <option value="native">Native</option>
                            <option value="spa">Single Page App</option>
                        </select>
                        <div id="app_type_help" class="form-text">The type of application will determine which settings you can configure from the dashboard.</div>
                    </div>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Application URIs</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Cross-Origin Authentication</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>ID Token Expiration</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Refresh Token Expiration</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Refresh Token Rotation</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Token Sender-Constraining</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Authorization Requests</h5>
                </div>
                <div class="card p-4 mt-4">
                    <h5>Advanced Settings</h5>
                </div>

                <div class="tab-pane fade" id="credentials-tab-pane" role="tabpanel" aria-labelledby="credentials-tab" tabindex="0">
                    <h3>Credentials Content</h3>
                    <p>This is the credentials tab content.</p>
                </div>
                <div class="tab-pane fade" id="apis-tab-pane" role="tabpanel" aria-labelledby="apis-tab" tabindex="0">
                    <h3>APIs Content</h3>
                    <p>This is the APIs tab content.</p>
                </div>
                <div class="tab-pane fade" id="connections-tab-pane" role="tabpanel" aria-labelledby="connections-tab" tabindex="0">
                    <h3>Connections Content</h3>
                    <p>This is the connections tab content.</p>
                </div>
            </div>
        </div>

        <div class="text-end mt-3">
            <button class="btn btn-primary">Save Changes</button>
        </div>
    </div>
{% endblock %}
{% block js_footer %}
    {{ super() }}
{% endblock %}
